.game-card{
    max-width: 200px;
    margin: 20px auto;
    padding: 10px 10px;
    display: block;
    color: white;
    text-decoration: none;
}
.game-card .platform-wrapper > img{
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-top: 7px;
    opacity: .2;
}
.game-card .star-wrapper > img{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.game-cover{
    width: 100%;
    min-height: 220px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.game-cover > img{
    position: absolute;
    top: 0px;
    height: 100%;
    transform: translateX(-25%);
}
.game-name{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: 100;
}